.divWithTasks {
  background-color: var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
}

.divWithTasksContainer {
  display: flex;
  justify-content: space-between;
}

.divWithTasksContainerCheckBoxP {
  display: flex;
  align-items: center;
}

.description {
  color: var(--gray-300);
}

.checked {
  text-decoration: line-through;
}

.divWithTasksContainer input {
  margin-right: 1rem;
}

.divWithTasksContainer p {
  margin-right: 1rem;
}

.divWithTasksContainer button {
  background: transparent;
  border: 0;
  line-height: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px;
}

.divWithTasksContainer button:hover {
  background-color: var(--gray-700);
}

.buttonContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pencilIcon {
  width: 19px;
  height: 19px;
  color: white;
}
